<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список людей</title>
</head>
<body>
<h1>Список пользователей</h1>
<a href="/people/new">Добавить  пользователя</a>  |
<a href="/">Вернуться в меню</a>
<br/>
<hr/>
<div th:each="person : ${people}">
    <a th:href="@{/people/{idPerson}(idPerson=${person.getIdPerson()})}"
       th:text="${person.getFio()}">user</a>
</div>
<br/>
<div>
    <a th:if="${currentPage > 0}" th:href="@{/people(page=${currentPage - 1}, size=10)}">Предыдущая</a>
    <span>Страница [[${currentPage + 1}]] из [[${totalPages}]]</span>
    <a th:if="${currentPage + 1 < totalPages}" th:href="@{/people(page=${currentPage + 1}, size=10)}">Следующая</a>
</div>



</body>
</html>